<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>894428048643-72ns1uol0osfbmq8brlieneefolu1ci7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.894428048643-72ns1uol0osfbmq8brlieneefolu1ci7</string>
	<key>API_KEY</key>
	<string>AIzaSyDnLA1q0LKzcBp_uza1lN7ciD5mHnSR2yQ</string>
	<key>GCM_SENDER_ID</key>
	<string>894428048643</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tacarlen.Podcast-App</string>
	<key>PROJECT_ID</key>
	<string>podcastapp-7d45c</string>
	<key>STORAGE_BUCKET</key>
	<string>podcastapp-7d45c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:894428048643:ios:7dcbab986516a7461d4d36</string>
</dict>
</plist>